.main-page-flex {
  display: flex;
  flex-direction: column;
}

.Carousel-Sidebar-Reviews-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.CarouselWrapper {
  height: 150vh;
  width: 75vw;
}

.Carousel-Review-Wrapper {
  width: 100%;
}

.SideBarWrapper {
  border-left: 1px solid gray;
}

#Carousel {
  width: 145%;
  position: absolute;
}

#SideBar {
  position: sticky;
}

#Reviews {
  /* background-color: aquamarine; */
}
